00-NumPy-Crash-Course
01-Pandas-Crash-Course
02-Visualization-Crash-Course
03-ANNs
04-CNNs
05-RNNs
06-NLP-and-Text-Data
07-AutoEncoders
08-GANs
09-Deployment
cell_images
__pycache__
keras_project.ipynb
house-prices-advanced-regression-techniques
house-prices-advanced-regression-techniques.zip